#countdown {
    position: fixed;
    display: flex;
    padding: 50px;
    height: 150px;
    justify-content:flex-end;
    align-items: center;
    width: 94%;
}

#countdown img {
    width: 130px;
    height:auto;
}

#countdown h1 {
    font-size: 130px;
    margin-left: 30px;
}

#controlMenu {
    padding: 30px;
}