#quizItem {
    width: 600px;
    height: 600px;
    display: flex;
    margin: auto;
}

#quizItem img {
    object-fit: contain;
    -webkit-filter: drop-shadow(5px 5px 5px #222);
    filter: drop-shadow(5px 5px 5px #222);
}

.game {
    background: rgb(255,255,255);
    background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(138,138,138,1) 100%);
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -2;
    display: flex;
    flex-direction: column;
}

#answerBtns {
    display: flex;
    flex-direction: row;
    width: auto;
    align-self: center;
    gap: 600px;
}

#answerBtns button {
    border-radius: 20px;
    border: 7px solid white;
    padding: 15px 20px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    transition-duration: 0.4s;
}

#answerBtns button:hover{
    box-shadow: none;
    transition-duration: 0.4s;
}

#answerBtns img {
    width: 150px;
}

#btnCorrect {
    background: rgb(84, 255, 112);
}

#btnIncorrect {
    background: rgb(255, 84, 101);
}
